{% extends 'base.html' %}
{% load static %}
{% block content %}
    
   
<body>
    <br>
    <br>
    <br> 
    <div style="margin-left: 500px; margin-bottom: 100px;">

        <ul class="messages">
            {% if messages %}
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'app12:register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr><td>{{ form.as_table }}</td></tr>
            </table>
            <input type="submit" value="SignUp">
        </form>
    </div>
</body> 
{% endblock %}
